@import "variables";
@import url(https://fonts.googleapis.com/css?family=Exo:400,100,200,300,500,600,700,800,900);

/******************************************
                OVERALL
******************************************/
body{
  color:white;
  font-family: 'Exo', sans-serif;
}
#wrapper{
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 100% !important;
  color:white;
  background-image: url(images/mothernaturestatue.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height:100% !important;
  .filter{
    background: $shadedBlueBG;
    height:100%;
  }
}
section{
  position: relative;
  min-height:500px;
}

/******************************************
                HEADER
******************************************/


header{
  width: 100%;
  color:white;
    h1{
      display: inline-block;
      font-size: 7em;
      padding-left: 25px;
    }
    h3{
      color:white;
      margin-left: 50px;
      text-shadow: 1px solid black;
    }
}


/******************************************
                NAV
******************************************/
.boxopt {
  background: rgba(24, 37, 56, 0.0);
  text-align: center;
  h2{
  opacity: .8;
  }
  &:hover{
    background: rgba(24,37,56,0.8);
    cursor: pointer;
    h2{
      opacity: 1;
    }
  }
}

/******************************************
                PROJECTS
******************************************/
.collection{
  background:$darkerbluebg;
}
.container{
  width:80%;
  margin:0 auto;
  position: relative;
}
.Projects{
  margin: 20px;
  color: white;
  position: relative;
}
.techbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #182538;
  text-align: center;
  font-size: 5em;
  border: 1px solid white;
  position: relative;
}

.upperbox{
  width:100%;
  padding:35px;
  .techimg{
    max-height:71px;
    max-width:100%;
  }

  ul{
    font-weight:100;
    font-size: 0.3em;
    text-align: left;
    margin:21px 21px 10px 10px;
    display: block;
    li{
      list-style-type: circle;
    }
  }
}
.lowerbox{
  width: 51%;
  right: 0;
  position: absolute;
  width: 80%;
  color: $cloudwhite;
  background-color: $lightergrey;
  .projimgbox{
    padding-left: 10px;
    height: 100%;
    img{
      max-width: 100%;
      height: 80%;
      margin-top: 10%;
      border: 2px solid black;
    }
  }
  .projabout{
    padding-left: 0;
    font-size: 1em;
    height:100%;
    h3{
    font-weight: 600;
    }
    p{
    font-size: 0.3em;
    font-weight: 100;
    }
  }
  .linksOut{
    position: absolute;
    bottom:0;
    width:100%;
    a{
      text-decoration: none;
      color:inherit;
      margin:0 40px;
    }
    i{
      margin:10px;
    }
  }

}

/******************************************
                RESUME
******************************************/
.resume{
  background:$darkerbluebg;
  color:white;
}
/******************************************
                ABOUT
******************************************/
.aboutMe{
  background-image: url(images/trees.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.upAbout{
  position: absolute;
}

/******************************************
                CONTACT
******************************************/
.contactMe{
  background-image: url(images/lake.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/******************************************
                FOOTER
******************************************/
.footer{
  color:white;
  text-align: center;
  clear:both;
  background-color: $darkblue;
}

/*****************************************
            OVERWRITE CLASS
*****************************************/

.smallPadding{
  padding: 20px 15px;
}
