#wrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  min-width: 100% !important;
  color: white;
  background-image: url(images/mothernaturestatue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100% !important; }

header {
  height: 400px;
  width: 100%;
  color: #E94835; }
  header h1 {
    display: inline-block;
    font-size: 7em;
    padding-left: 25px; }
  header h3 {
    color: #ecf0f1;
    margin-left: 50px;
    text-shadow: 1px solid black; }

.boxopt {
  position: relative;
  background-color: #182538;
  background: rgba(24, 37, 56, 0.5);
  vertical-align: middle;
  height: 400px; }
  .boxopt h2 {
    opacity: .8; }
  .boxopt:hover {
    background: rgba(24, 37, 56, 0);
    cursor: pointer; }
    .boxopt:hover h2 {
      opacity: 1; }

.container {
  width: 80%;
  margin: 0 auto; }

.footer {
  text-align: center;
  clear: both;
  background-color: #182538; }
