$testBorder: 1px solid white;
$cloudwhite: #ecf0f1;
$darkblue:#182538;
$ourGreen:#2DB069;
$ourRed:#E94835;
$darkergrey:#bdc3c7;
$lightergrey:#34495e;
$shadedBlueBG:rgba(24, 37, 56, 0.3);
$darkerbluebg:rgba(24, 37, 56, 0.95);
