/******************************************
                ABOUT
******************************************/

.aboutMe{
  background:$darkerbluebg;
}
.upAbout{
  position: absolute;
  p{
    line-height:2;
  }
}
