/******************************************
                CONTACT
******************************************/
.contactMe{
  min-height: 600px;
  padding-top:0;
  padding-bottom:0;
}
.getme{
  color: white;
  font-size: 3em;
  list-style: none;
  margin: 20px;
  font-weight: 100;
  text-align: center;
  a>.fa{
    margin-right:10px;
    font-size:1.5em;
  }
}
ul.contact{
  a{
    text-decoration: none !important;
    color:white;
    font-size: .5em;
    &:hover{
      font-weight:500;
    }
  }
}
#filtercontact{
  position: absolute;
  height: 100%;
  background: rgba(0,0,0,0.5);
  padding-top:30px;
  width:100%;
}
