/******************************************
                CONTACT
******************************************/
.contactMe{
  color: black;
  min-height: 600px;
  background: rgba(1,1,1,0.5);
}
.getme{
  color: white;
  font-size: 3em;
  list-style: none;
  margin: 20px;
  font-weight: 100;
  text-align: center;
  a>.fa{
    margin-right:10px;
    font-size:1.5em;
  }
}
ul.contact{
  a{
    text-decoration: none !important;
    color:white;
    font-size: .5em;
    &:hover{
      font-weight:500;
    }
  }
}
