/******************************************
                FOOTER
******************************************/
.footer{
  z-index: 3;
  color:white;
  text-align: center;
  clear:both;
  background-color: $darkblue;
  position: absolute;
  min-width:500px;
  width:100%;
}
