/*********************
    libraries
*********************/
@import url(https://fonts.googleapis.com/css?family=Exo:400,100,200,300,500,600,700,800,900);
/******************************************
                OVERALL
******************************************/
body {
  color: white;
  font-family: 'Exo', sans-serif; }

section {
  position: relative;
  min-height: 500px;
  min-width: 100% !important;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

/*********************
    STYLESHEETS
*********************/
/******************************************
                HEADER
******************************************/
.wrapper {
  height: 600px;
  position: relative;
  margin: 0;
  padding: 0;
  color: white; }

.filter {
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 30px;
  background: rgba(1, 1, 1, 0.4); }

header {
  width: 100%;
  color: #ecf0f1; }
  header h1 {
    display: inline-block;
    font-size: 5em;
    padding-left: 25px;
    font-weight: 100; }
  header h3 {
    padding-left: 60px;
    font-weight: 600;
    font-size: 3em; }

/******************************************
                NAV
******************************************/
.customNav {
  height: 100%;
  padding-bottom: 30px;
  position: fixed;
  right: 0;
  z-index: 1;
  background: rgba(154, 175, 196, 0.5); }

.boxopt {
  margin-top: 30px;
  background: rgba(24, 37, 56, 0);
  text-align: center;
  color: white;
  clear: both;
  width: 100%; }
  .boxopt h2 {
    font-size: 2em;
    font-weight: 100; }
  .boxopt:hover {
    background: rgba(24, 37, 56, 0.8);
    cursor: pointer; }
    .boxopt:hover h2 {
      opacity: 1; }

.active {
  background: rgba(24, 37, 56, 0.8); }

nav .navdiv {
  text-align: center;
  clear: both;
  padding-top: 30px; }
  nav .navdiv span {
    font-size: .8em; }

nav .navmail {
  padding-top: 60px; }

nav div > a {
  text-decoration: none !important; }

nav .fa {
  display: block;
  font-size: 4em;
  text-align: center;
  text-shadow: 0px 0px 1px white; }

/******************************************
                ABOUT
******************************************/
.aboutMe {
  background: rgba(24, 37, 56, 0.95); }

.upAbout {
  position: absolute; }

/******************************************
                PROJECTS
******************************************/
.collection {
  min-height: 1200px;
  background: rgba(1, 1, 1, 0.2); }

.container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.Projects {
  margin: 20px;
  color: white;
  position: relative;
  opacity: 0.7; }
  .Projects:hover {
    opacity: 1; }

.techbox {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #182538;
  text-align: center;
  font-size: 5em;
  border: 4px solid #34495e;
  border-radius: 20px;
  position: relative; }

.openUpper {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.openLower {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.upperbox {
  width: 100%;
  padding: 35px; }
  .upperbox .fa {
    position: absolute;
    right: 10px;
    font-size: 1.4em;
    opacity: 0.5; }
    .upperbox .fa:hover {
      opacity: 1; }
  .upperbox .techimg {
    max-height: 71px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1); }
  .upperbox ul {
    font-weight: 100;
    font-size: 0.2em;
    text-align: left;
    margin: 21px 21px 10px 10px;
    display: block;
    overflow: scroll; }
    .upperbox ul li {
      list-style-type: circle; }

.altText .fa {
  font-size: .5em;
  opacity: 0.5; }
  .altText .fa:hover {
    opacity: 1; }

.lowerbox {
  width: 51%;
  right: 0;
  position: absolute;
  width: 80%;
  color: #ecf0f1;
  background-color: #34495e; }
  .lowerbox .projimgbox {
    padding-left: 10px;
    height: 100%; }
    .lowerbox .projimgbox img {
      max-width: 100%;
      min-height: 50%;
      max-height: 80%;
      margin-top: 10%;
      border: 2px solid black; }
  .lowerbox .projabout {
    padding-left: 0;
    font-size: 1em;
    height: 100%; }
    .lowerbox .projabout h3 {
      font-weight: 600; }
    .lowerbox .projabout p {
      font-size: 0.3em;
      font-weight: 100; }
  .lowerbox .linksOut {
    font-size: 0.5em; }
    .lowerbox .linksOut a {
      text-decoration: none;
      color: inherit; }
    .lowerbox .linksOut i {
      margin: 10px; }

.noOP {
  opacity: 1; }

/******************************************
                RESUME
******************************************/
#resume {
  background: rgba(24, 37, 56, 0.95);
  color: white;
  text-align: center; }
  #resume h4 {
    font-size: 2.5em;
    font-weight: 500; }

.sideResume {
  padding-top: 30px;
  padding-bottom: 30px; }

.skillslist {
  padding: 0; }

.libs {
  list-style: none;
  padding: 0; }

.libsLi {
  font-weight: 100;
  margin: 10px; }

.languages {
  list-style: none;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 10px; }
  .languages h3 {
    font-weight: 500;
    font-size: 1.5em; }

.resting {
  width: 30%; }
  .resting p {
    line-height: 1.5; }

.download {
  font-size: 2em;
  text-align: center; }
  .download p {
    display: inline-block; }

/******************************************
                CONTACT
******************************************/
.contactMe {
  color: black;
  min-height: 600px;
  background: rgba(1, 1, 1, 0.5); }

.getme {
  color: white;
  font-size: 3em;
  list-style: none;
  margin: 20px;
  font-weight: 100;
  text-align: center; }
  .getme a > .fa {
    margin-right: 10px;
    font-size: 1.5em; }

ul.contact a {
  text-decoration: none !important;
  color: white;
  font-size: .5em; }
  ul.contact a:hover {
    font-weight: 500; }

/******************************************
                FOOTER
******************************************/
.footer {
  z-index: 3;
  color: white;
  text-align: center;
  clear: both;
  background-color: #182538;
  position: absolute;
  width: 100%; }

/*****************************************
            OVERWRITE CLASS
*****************************************/
.smallPadding {
  padding: 20px 15px; }

/****************************************
            MEDIA QUERYS
****************************************/
/*********************************
    1225 breaking point
*********************************/
@media screen and (max-width: 1225px) {
  .upperbox {
    padding: 20px 0; } }

@media screen and (max-width: 1225px) {
  .upperbox .techused {
    padding: 10px;
    list-style: none; } }

@media screen and (max-width: 1225px) {
  .lowerbox .projimgbox img {
    height: 60%;
    margin-top: 20%; } }

/*********************************
    1000 breaking point
*********************************/
@media screen and (max-width: 1000px) {
  .wrapper {
    background: rgba(0, 0, 0, 0.3); } }

@media screen and (max-width: 1000px) {
  header h1 {
    display: inline-block;
    font-size: 4em;
    padding-left: 25px;
    color: white;
    font-weight: 200;
    margin-top: 75px; } }

@media screen and (max-width: 1000px) {
  .customNav {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    right: auto;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.5+100 */
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 );
    /* IE6-9 */ } }

@media screen and (max-width: 1000px) {
  .customNav .fa {
    font-size: 3em;
    text-align: center;
    text-shadow: 0px 0px 1px white; } }

@media screen and (max-width: 1000px) {
  .actlink {
    color: #337ab7;
    text-decoration: none;
    display: inline-block;
    height: 100%; } }

@media screen and (max-width: 1000px) {
  .boxopt {
    margin-top: 0;
    color: white;
    background: none;
    text-align: center;
    clear: both;
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 1000px) {
  .boxopt h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0;
    height: 100%; } }

@media screen and (max-width: 1000px) {
  .boxopt:hover {
    background: none; } }

@media screen and (max-width: 1000px) {
  .active {
    color: #337ab7;
    background: none; } }

@media screen and (max-width: 1000px) {
  nav .navmail {
    padding-top: 0; } }

@media screen and (max-width: 1000px) {
  nav .navdiv {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    clear: none;
    padding-top: 0;
    vertical-align: top; } }

/*********************************
    800 breaking point
*********************************/
@media screen and (max-width: 850px) {
  .container {
    width: 100%; } }

@media screen and (max-width: 800px) {
  ul.contact a {
    font-weight: 400; }
    ul.contact a:hover {
      font-weight: 500; } }

@media screen and (max-width: 800px) {
  .boxopt h2 {
    font-size: 1em; } }

@media screen and (max-width: 800px) {
  .altText .fa {
    display: none; } }

@media screen and (max-width: 800px) {
  .customNav .fa {
    font-size: 2em; } }

/**************************
    550 breking point
**************************/
@media screen and (max-width: 550px) {
  .customNav {
    text-align: center;
    font-size: 1.5em; } }

@media screen and (max-width: 550px) {
  .customNav .actlink {
    margin-bottom: 10px; } }

@media screen and (max-width: 550px) {
  nav .navdiv {
    font-size: .6em; } }

@media screen and (max-width: 550px) {
  nav .navmail {
    margin-left: 80px; } }

@media screen and (max-width: 490px) {
  nav .navmail {
    margin-left: 20px; } }

@media screen and (max-width: 550px) {
  header h1 {
    margin-top: 100px; } }

@media screen and (max-width: 550px) {
  .boxopt h2 {
    font-size: 0.7em; } }

/*******************************
      500 break
*******************************/
@media screen and (max-width: 500px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }

@media screen and (max-width: 500px) {
  .Projects {
    margin-left: 0;
    margin-right: 0; } }

@media screen and (max-width: 510px) {
  .upperbox .techused {
    padding: 0;
    margin: 8px; } }

@media screen and (max-width: 510px) {
  .languages {
    width: 40%; } }
